.optsrc
{
    height:25px;
    width:25px;
}


.notfirstrow
{
    padding-top: 2rem;
}

.svg-text-danger
{
    filter: invert(32%) sepia(54%) saturate(4494%) hue-rotate(338deg) brightness(112%) contrast(107%);
}