
   
      <div (click)="openPrivacy()" class="col-12 font-weight-bold pt-1-4 text-left-right2">
        {{ 'settings.AboutContent.privacy' | translate }}   
      </div>
      <div (click)="openTermOfServices()" class="col-12  font-weight-bold pt-5 text-left-right2">
        {{ 'settings.AboutContent.termOfServices' | translate }}   
      </div>
      <div  class="col-12  font-weight-bold pt-5">
        <div class="row">
            <div class="col-10 p-0 text-left-right2">
                {{ 'settings.AboutContent.Version' | translate }}   
            </div>
            <div class="col-2 p-0">
                {{this.curVer}}
            </div>
        </div>

      </div>
      



