


.search-form {
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
}

.container {
  background: #fff;
  padding: 10px;
}



::-webkit-input-placeholder {
    color: #18191a36;
}

:-ms-input-placeholder {
    color: #18191a36;
}

::placeholder {
    color: #18191a36;
}


.list-group
{
padding-right:0px;
}

.banClass
{
  color:red;
}
