


<div class="row">

    <div class="col-ms-1">
      <div class="btn-group mx-4" mdbDropdown>
        <mdb-icon fas icon="user" classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect"
                  mdbWavesEffect></mdb-icon>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Tamer Khoury</a>
          <a class="dropdown-item" href="#">Saher Silbak</a>
        </div>
      </div>
    </div>


    <div class="col-ms-6 ">
        <h4 class="text-center">Tamer Khoury Schedule</h4>
    </div>
  </div>
