



  
  
  <div class="modal-dialog form-dark m-0 h-100" role="document" >
    <!--Content-->
    <mdb-card   class="modal-content loginForm h-100">
      <div class="z-depth-4 h-100">
        <!--Header-->
    
        <!--Body-->
        <div class="modal-body text-center">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
              </button>

  
            <p  class="sentence-h wow fadeInLeftBig black-text font-weight-bolder mb--7 mt--7" data-wow-delay="0s">{{ 'welcomeToSaloTimeDialog.title' | translate }}</p>
            <img _ngcontent-irj-c1="" alt="logo"  class="p-0 m-0" src="assets/img/logo_trans3.svg" height="90" width="90">
            <p  class="sentence mt--7">{{ 'welcomeToSaloTimeDialog.sentence0' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence1' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence2' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence3' | translate }}</p>
            <p  class="sentence-h  wow fadeInRight black-text font-weight-bolder mt-1" data-wow-delay="0.5s">{{ 'welcomeToSaloTimeDialog.sentence4' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence5' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence6' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence7' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence8' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence9' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence10' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence11' | translate }}</p>
            <p  class="sentence-h  wow fadeInLeft black-text font-weight-bolder mt-1" data-wow-delay="1s">{{ 'welcomeToSaloTimeDialog.sentence12' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence13' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence14' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence15' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence16' | translate }}</p>
            <p  class="sentence">{{ 'welcomeToSaloTimeDialog.sentence17' | translate }}</p>
            
           
            <div class="m-0 p-0 text-center"  (click)="modalRef.hide()"    class="waves-light"  >
              <img _ngcontent-irj-c1=""  alt="logo"  class="p-0 logotp logo" src="assets/images/getstart.svg" >
              <p  class="sentence black-text font-weight-bolder getstart">{{ 'welcomeToSaloTimeDialog.GetStarted' | translate }}</p>
            </div>
       
          <!--Body-->

        </div>

              <!--Footer-->
      <!--<div class="modal-footer justify-content-center p-2">
        <a type="button" (click)="modalRef.hide()"  mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{ 'welcomeToSaloTimeDialog.GetStarted' | translate }}
          <mdb-icon fas icon="thumbs-up" class="ml-1"></mdb-icon>
        </a>
      </div>!-->

      </div>
</mdb-card>
<!--/.Content-->
</div>

